
/*Estilos dos cartões dos livros, só precisamos importar este ficheiro onde tivermos mais cards dos livros */

/* div pai dos cartões*/
.livros-card{
    display: flex;
    margin-bottom: 30px;
}

/*imagem do livro*/
.livros-card>div>img {
    max-width: calc(100% - 20px);
    height: 300px;
    flex-shrink: 0;
    margin: auto;
}

/*div filha do container para aplicar os paddings, margins, alinhar os elementos em forma de coluna*/
.livros-card>div {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px 3px #0000001a;
    background-color: white;

}

/*titulo do livro no card, por baixo da capa do livro*/
.livros-card>div>div>span {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

/*div que contém o titulo do livro, height 100 para que todos os cartões sejam da mesma altura e equilibrados*/
.livros-card>div>div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#livros {
    padding-bottom: 50px;
    margin-top: 30px;
}


/*Estilo aplicado em ecrãs maiores de 576 px*/
@media (min-width: 576px) {
    .livros-card>div{
        margin: 0 !important;
    }
}

