

/*Estilos do Header, podemos importar este ficheiro em todas as páginas*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    background: #b08e6b;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    background: #b08e6b;
}
header>div>nav{
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap; /* para manter todos os links na mesma linha visiveis. */
}

.nav-menu {
    color: #ffffff;
}

/*Estilos para cada opção do menu*/
.nav-menu>a {
    display: flex;
    padding: 1%;
    background-color: #7a5c3c;
    border: none;
    color: #ffffff;
    border-radius: 20%;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}

/*estilos para quando passamos o rato por cima das opções do menu*/
.nav-menu>a:hover {
    background-color: #7a5c3c;
    color: #ffffff;
}

/*O proprio logo*/
header>div>.logo img {
    height: 70px;
}

/*Rodapé no fim da página*/
footer {
    height: 500px;
    margin-top: -250px; /*margem negativa para ficar metade por cima da última linha de filmes*/
    width: 100%;
    background-color: #b08e6b;
}

/*Div onde vamos ter os links do rodapé*/
footer>.footer-content{
    padding-top: 300px;
    font-size: 3rem;
    text-align: center;
}

