

/*Estilos do Header, assim se tiverem de alterar, só alteram num lugar, e não em todos os ficheiros CSS*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    background: #b08e6b;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    background: #b08e6b;
}
header>div>nav{
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap; /* para manter todos os links na mesma linha visiveis. */
}

.nav-menu {
    color: #ffffff;
}

.nav-menu>a {
    display: flex;
    padding: 1%;
    background-color: #7a5c3c;
    border: none;
    color: #ffffff;
    border-radius: 20%;
    cursor: pointer;
    margin: 10px;
}

/*O proprio logo*/
header>div>.logo img {
    height: 70px;
}

footer {
    height: 500px;
    margin-top: -250px;
    width: 100%;
    background-color: #b08e6b;
}

footer>.footer-content{
    padding-top: 300px;
    font-size: 3rem;
    text-align: center;
}

