
/*codigo abaixo alterar fotografia*/
#input-file {
    display: none;
  }
  
  #upload-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #upload-button:hover {
    background-color: #3e8e41;
  }

.profile-banner {
    height: 350px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile-avatar-container{
    margin-top: -130px;
    background: aliceblue;
    width: 150px;
    border-radius: 50px;
    position: relative;
    z-index: 2;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile-name{
    margin-top: -75px;
    margin-left: 200px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.profile-container-livros{
    margin-top: 70px;
}