
.profile-img {
  display: block;
}

  #container {
    position: relative;
    width: 500px;
    height: 300px;
  }
  
  form {
  display: flex;
  align-items: center;
}

#bts{
  display: flex;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #F4E61A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.banner-books {
  width: 100%;
  height: 300px;
  padding-top: 3px;
}

.banner-books-text {
  color: #371818;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  text-align: center;
  padding-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


@media (min-width: 576px) {
  .banner-books-text{
    font-size: 2.5rem;
    padding-top: 35px;
  }
  .banner-books {
    height: 350px;
  }
}
@media (min-width: 870px) {
  .banner-books-text{
    font-size: 3rem;
  }
  .banner-books {
    height: 400px;
  }
}
